$bg-color-grey: #2f303a;
$bg-color-white: #ffffff;
$bg-color-light-grey: #e5e5e5;
$bg-color-white-solid: #f5f4fa;

$text-color-black: #212121;
$text-color-grey: #757575;
$text-color-white: #ffffff;
$text-color-black-transparent: #ffffff99;

$border-grey: #eeeeee;
$border-grey-light: #ececec;
$border-icon: #afb1b8;

$accent-color-blue: #2196f3;
