.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bg-color-light-grey;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  &__list {
    @media screen and (min-width: 320px) {
      margin: -15px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .team__thumb {
    height: 460px;

    @media screen and (min-width: 768px) {
      height: 374px;
    }

    @media screen and (min-width: 1200px) {
      height: 260px;
    }
  }

  .team__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item {
    box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
      0px 2px 1px #00000033;
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 320px) {
      margin: 15px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 15px * 4) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 15px * 8) / 4);
      margin: 15px;
    }
  }

  &__member {
    background-color: $bg-color-white;

    text-align: center;
  }

  &__title {
    color: $text-color-black;
    margin-bottom: 30px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  &__name {
    padding-top: 30px;
    color: $text-color-black;
  }

  &__profession {
    padding-top: 10px;
    margin-bottom: 16px;
    color: $text-color-grey;
  }

  &__network {
    margin: 0px;
    padding: 0px;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen {
      padding-bottom: 24px;
    }

    @media screen {
      padding-bottom: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $bg-color-white;
    color: $border-icon;
  }

  &__link:last-child {
    margin-right: 0px;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color-blue;
    color: $bg-color-white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 0px;
    outline: 0px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
